{% extends 'users/profile.html' %}

{% block additional_head %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
{% endblock additional_head %}

{% block is_admin %}

    {% if orders %}

        {% for order in orders %}
            <div
                    style="
              min-width: 150px;
              min-height: 150px;
              border-radius: 30px;
              border: 1px solid;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              margin: 20px;
              padding: 15px;
              box-sizing: border-box;
            "
            >
                <!-- <h1>{{ order.order_profile.user.username }}</h1> --->
                <h4>Order date: {{ order.date }}</h4>
                <h4>Order time: {{ order.time }}</h4>
                <!--<button onclick="document.getElementById('order-details-{{ forloop.counter }}').style.height = '89px';
                                 document.getElementById('order-details-{{ forloop.counter }}').style.visibility = 'visible';">More details
                </button>-->
                <div id="order-details-{{ forloop.counter }}" class="order-details">
                    <h6>Number of people for reservations: {{ order.number_of_people }}</h6>
                    <h6>Name of person in reservation: {{ order.name }} </h6>
                    <h6>Telephone number in reservation: {{ order.telephone_number }} </h6>
                    <h6>Email in reservation: {{ order.email }} </h6>
                    <h6>Restaurant order: {{ order.order_restaurant }} </h6>
                </div>

                {% for ord in order.orderitem_set.all %}
                    <div>
                        <h6 style="
                                width: 130px;
                                word-wrap: break-word"
                        >Product:{{ ord.name }}</h6>
                        <h6 style="
                            width: 130px;
                            word-wrap: break-word;"
                        >Number:{{ ord.number_ordered }}</h6>
                    </div>
                {% endfor %}
            <a href="{% url 'remove' order.id %}">
                <button class="btn btn-danger" >
                    Remove Order
                </button>
            </a>

            </div>
        {% endfor %}

    {% else %}

        <h1>You have not placed any orders yet!</h1>

    {% endif %}

{% endblock is_admin %}
