{% extends 'users/profile.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% block is_admin %}
    {% for i in range %}

        <div
                style="
              min-width: 150px;
              min-height: 150px;
              border-radius: 30px;
              border: 1px solid;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              margin: 20px;
              padding: 15px;
              box-sizing: border-box;
            "
        >
            <h1>Order</h1>
            <h4>Order date: 17.12.2020</h4>
            <a href="#">More details</a>



            {% for order in order_number_0 %}
                <div>
                    <h6 style="
                                width: 130px;
                                word-wrap: break-word"
                    >Product:{{ order.name }}</h6>
                    <h6 style="
                            width: 130px;
                            word-wrap: break-word;"
                    >Number:{{ order.number_ordered }}</h6>
                </div>
            {% endfor %}


        </div>
    {% endfor %}
{% endblock is_admin %}

</body>
</html>