{% extends 'app/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <form>
            {% csrf_token %}
            <div class="form-group">
                <div class="d-flex justify-content-center"><h1>Join Today</h1></div>
                {{ form|crispy }}
                <button type="submit" class="btn btn-success">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small>
                Already Have An Account? <a href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </div>
{% endblock content %}
</body>
</html>
