{% extends 'app/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
</head>
<body>
{% load crispy_forms_tags %} {% block content %}
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <div class="d-flex justify-content-center"><h1>Join Today</h1></div>
                {{ form|crispy }}
            </div>
            <div>
                <button type="submit" class="btn btn-success">Sign In</button>
                <smaall class="text-muted ml-2">
                    <a href="{% url 'password_reset' %}"> Forgot password? </a>
                </smaall>
            </div>
        </form>
        <br/>
        <div class="border-top pt-3">
            <small> Need An Account? <a href="/register">Register Now</a> </small>
        </div>
    </div>
{% endblock content %}
</body>
</html>
