{% extends 'app/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>Join Today</legend>
                {{ form|crispy }}
            </fieldset>
            <div>
                <button type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small>
                Need An Account? <a href="/register">Sign Up Now</a>
            </small>
        </div>
    </div>
{% endblock content %}

</body>
</html>