{% extends 'app/base.html' %}
{% load static %}
{% block additional_head %}
    <link rel="stylesheet" href="{% static 'app/gallery.css' %}"/>
{% endblock additional_head %} {% block content %}
    <div class="container-fluid">
        <div class="d-flex flex-row flex-wrap justify-content-center">
            <div class="d-flex flex-column" style="max-height: 800px !important">
                <div>
                    {% if messages %} {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                    {% endfor %} {% endif %}
                </div>

                <div class="item zoom-on-hover">
                    <a href="/category/sandwitches/">
                        <img
                                class="img-fluid image"
                                src="https://images.unsplash.com/photo-1455853659719-4b521eebc76d?auto=format&fit=crop&w=668&q=80"
                        />
                        <span class="description">
            <span class="description-heading">Sandwitches</span>
            <span class="description-body"
            >Choose among the best sandwitches in Varna</span
            >
          </span>
                    </a>
                </div>
                <div class="item zoom-on-hover">
                    <a href="/category/fruits/">
                        <img
                                class="img-fluid image"
                                src="https://images.unsplash.com/photo-1502865787650-3f8318917153?auto=format&fit=crop&w=668&q=80"
                        />
                        <span class="description">
            <span class="description-heading">Fruits</span>
            <span class="description-body"
            >The freshest fruits right around your corner</span
            >
          </span>
                    </a>
                </div>
                <div class="item zoom-on-hover">
                    <a href="/category/snacks/">
                        <img
                                class="img-fluid image"
                                src="https://images.unsplash.com/photo-1485963631004-f2f00b1d6606?auto=format&fit=crop&w=668&q=80"
                        />
                        <span class="description">
            <span class="description-heading">Snacks</span>
            <span class="description-body"
            >What could go better with your sunday beer than a snack?</span
            >
          </span>
                    </a>
                </div>
                <div class="item zoom-on-hover">
                    <a href="/category/chinese_food/">
                        <img
                                class="img-fluid image"
                                src="https://www.englishclub.com/images/vocabulary/food/chinese/chinese-food.jpg"
                        />
                        <span class="description">
            <span class="description-heading">Chinese food</span>
            <span class="description-body"
            >Suddenly in the mood for something asian? Try the newest Chinese
              restaurants in your city!</span
            >
          </span>
                    </a>
                </div>
            </div>

            <div class="d-flex flex-column" style="max-height: 800px !important">
                <div class="item zoom-on-hover">
                    <a href="/category/pizzas/">
                        <img
                                class="img-fluid image"
                                src="https://images.deliveryhero.io/image/fd-bg/LH/v9kb-hero.jpg?width=668&height=200"
                        />
                        <span class="description">
            <span class="description-heading">Pizza</span>
            <span class="description-body"
            >You can never get enough of some delicious pizza, right?</span
            >
          </span>
                    </a>
                </div>
                <div class="item zoom-on-hover">
                    <a href="/category/pastry/">
                        <img
                                class="img-fluid image"
                                src="https://images.unsplash.com/photo-1500816558239-6b91f4256ead?auto=format&fit=crop&w=668&q=80"
                        />
                        <span class="description">
            <span class="description-heading">Pastry</span>
            <span class="description-body"
            >Chabata, baguette, doughnuts, croissant... If it has dough in it:
              You name it - we've got it!</span
            >
          </span>
                    </a>
                </div>
                <div class="item zoom-on-hover">
                    <a href="/category/deserts/">
                        <img
                                class="img-fluid image"
                                src="https://images.unsplash.com/photo-1505253468034-514d2507d914?auto=format&fit=crop&w=668&q=80"
                        />
                        <span class="description">
            <span class="description-heading">Deserts</span>
            <span class="description-body"
            >They just go right to your soul, right?</span
            >
          </span>
                    </a>
                </div>
            </div>

            <div class="d-flex flex-column" style="max-height: 800px !important">
                <div class="item zoom-on-hover">
                    <a href="/category/burgers/">
                        <img
                                class="img-fluid image"
                                src="https://images.deliveryhero.io/image/fd-bg/LH/v9qe-hero.jpg?width=668&height=400"
                        />
                        <span class="description">
            <span class="description-heading">Burgers</span>
            <span class="description-body"
            >Beef, chicken, pork, veggie - however you want it, just order
              some <i>burgers</i>!</span
            >
          </span>
                    </a>
                </div>
                <div class="item zoom-on-hover">
                    <a href="/category/salads/">
                        <img
                                class="img-fluid image"
                                src="https://ifoodreal.com/wp-content/uploads/2018/06/FG-corn-avocado-salad.jpg"
                        />
                        <span class="description">
            <span class="description-heading">Salads</span>
            <span class="description-body"
            >Fresh vegetables with gentle sauce</span
            >
          </span>
                    </a>
                </div>
                <div class="item zoom-on-hover">
                    <a href="/category/seafoods/">
                        <img
                                class="img-fluid image"
                                src="https://gourmetfood.org/wp-content/uploads/2019/12/Seafood.jpg"
                        />
                        <span class="description">
            <span class="description-heading">Seafood</span>
            <span class="description-body"
            >Gourmet seafood - delivered right to your house!</span
            >
          </span>
                    </a>
                </div>
                <div class="item zoom-on-hover">
                    <a href="/category/bbq/">
                        <img
                                class="img-fluid image"
                                src="https://media-cdn.tripadvisor.com/media/photo-s/1a/3f/e0/5c/barbeque-nation-bangalore.jpg"
                        />
                        <span class="description">
            <span class="description-heading">BBQ</span>
            <span class="description-body"
            >Tasty barbeque specials</span
            >
          </span>
                    </a>
                </div>
                <div class="item zoom-on-hover">
                    <a href="/category/drinks/">
                        <img
                                class="img-fluid image"
                                src="https://miro.medium.com/max/11520/1*wRSrqe_WdsPsv4XdHDou6Q.jpeg"
                        />
                        <span class="description">
            <span class="description-heading">Drinks</span>
            <span class="description-body"
            >You need a drink? Check out the best deals in the city of Varna</span
            >
          </span>
                    </a>
                </div>
            </div>

            <div class="d-flex flex-column" style="max-height: 800px !important">
                <div class="item zoom-on-hover">
                    <a href="/category/appetizers/">
                        <img
                                class="img-fluid image"
                                src="https://i.pinimg.com/originals/45/5b/7d/455b7d6c10e571243455956967d60b0d.jpg"
                        />
                        <span class="description">
            <span class="description-heading">Appetizers</span>
            <span class="description-body"
            >A pleasure for every taste</span
            >
          </span>
                    </a>
                </div>
                <div class="item zoom-on-hover">
                    <a href="/category/wines/">
                        <img
                                class="img-fluid image"
                                src="https://drinksfeed.com/wp-content/blogs.dir/1/files/2018/11/tall-horse-chardonnay-e1542629654320.jpg"
                        />
                        <span class="description">
            <span class="description-heading">Wines</span>
            <span class="description-body"
            >The best selection for your taste</span
            >
          </span>
                    </a>
                </div>
                <div class="item zoom-on-hover">
                    <a href="/category/chicken/">
                        <img
                                class="img-fluid image"
                                src="https://www.wallpaperup.com/uploads/wallpapers/2018/03/23/1239149/1b1dca24781f4d058119fe6feea69b46-700.jpg"
                        />
                        <span class="description">
            <span class="description-heading">Chicken</span>
            <span class="description-body"
            >Traditional family chicken</span
            >
          </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}