# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Alex\Documents\SoftUni\Python Web Frameworks Module\Python Web Framework\pickafood-quick-mvp-master-pickafood\pickafood-quick-mvp-master-pickafood\pickafood\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
